body {
  font-family: "Inter", sans-serif;
  background-color: #0d1117; /* Fundo escuro */
}
.card-container {
  width: 100%;
  max-width: 400px;
  height: 550px;
  margin: 0 auto;
  position: relative;
}
.game-card {
  width: 100%;
  height: 100%;
  background-color: #161b22; /* Fundo do card mais claro */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  /* Adicionado cursor pointer para indicar que a imagem é clicável */
  cursor: zoom-in;
}
.btn-action {
  padding: 1rem 0;
  font-weight: 700;
  transition: all 0.2s;
  border-radius: 9999px; /* Botões arredondados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-deny {
  background-color: #ef4444; /* Vermelho para negar */
  color: white;
}
.btn-deny:hover {
  background-color: #dc2626;
  transform: scale(1.05);
}
.btn-confirm {
  background-color: #22c55e; /* Verde para confirmar */
  color: white;
}
.btn-confirm:hover {
  background-color: #16a34a;
  transform: scale(1.05);
}
.game-message {
  max-width: 90%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
}
.game-message.show {
  opacity: 1;
  transform: translateY(0);
}
